asgiref==3.5.2
autopep8==1.7.0
Django==4.1.2
mypy==0.982
mypy-extensions==0.4.3
packaging==21.3
pip-review==1.2.0
pkg_resources==0.0.0
pycodestyle==2.9.1
pyparsing==3.0.9
sqlparse==0.4.3
toml==0.10.2
tomli==2.0.1
typing_extensions==4.4.0
